extends layout

mixin number(name, value, onchange, text)
  .control-group
    label.control-label(for=name)= text
    .controls
      input.input-mini(
        type     = "number"
        min      = "1"
        max      = "99"
        id       = name
        name     = name
        value    = value
        onchange = onchange
      )

mixin check(name, onchange, text)
  .control-group
    .controls
      label.checkbox(for=name)
        input(
          type     = "checkbox"
          id       = name
          name     = name
          onchange = onchange
        )
        | #{text}

mixin result(text, id, value, suffix)
  tr
    td #{text}:
    td
      span(id=id) #{value}
      | #{suffix}

block form
  form.form-horizontal
    fieldset
      mixin number("num-tests", "10", "tester.setNumTests(this)", "Number of tests to run")
      mixin number("num-bits", "16", "tester.reset()", "Bit complexity")
      mixin check("no-workers", "tester.reset()", "Disable Web Workers")
      mixin number("num-workers", "4", "tester.reset()", "Number of workers")

      .form-actions
        button#toggle-status.btn.btn-primary(type="submit", onclick="tester.toggle(); return false") Start

block results
  // bootstrap's tables have nice styling,
  // so we use tables instead of a grid here
  table.table.table-striped.table-hover
    thead
      tr
        th.span2 Name
        th.span6 Result
    tbody
      mixin result("Number of tests", "test-number", 0)
      mixin result("Minimum duration", "minimum-duration", 0, "s")
      mixin result("Average duration", "average-duration", 0, "s")
      mixin result("Maximum duration", "maximum-duration", 0, "s")
      mixin result("Status", "status", "stopped")

block content
  .row
    .offset4.span8
      h1= title

  .row
    .span4
      block form
    .span8
      block results

  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js")
  script(src="js/hashcash.js")
  script(src="js/example.js")
